In [4]:
import pandas as pd
import sys
sys.path.insert(0, '../')
from utils.utils import *

In [5]:
obs = read_csv_list(['/home/toque/data2/montreal/stm/data/valid_metro_15min_2015_2016_2017_sumpass.csv'])
exo = read_csv_list(['/home/toque/data2/date/2013-01-01-2019-01-01_new.csv'])

In [8]:
obs.head(1)

,Datetime,11,32,34,15,44,65,31,33,35,...,42,45,38,29,58,63,22,59,53,17
0,2015-01-01 00:00:00,140.0,44.0,90.0,62.0,21.0,25.0,42.0,47.0,50.0,...,6.0,15.0,7.0,16.0,6.0,2.0,36.0,4.0,9.0,2.0

In [9]:
obs.tail(1)

,Datetime,11,32,34,15,44,65,31,33,35,...,42,45,38,29,58,63,22,59,53,17
91328,2017-12-31 23:45:00,122.0,45.0,95.0,52.0,33.0,22.0,46.0,43.0,52.0,...,4.0,63.0,4.0,16.0,5.0,4.0,3.0,8.0,2.0,10.0

In [6]:
obs.columns.values

array(['Datetime', '11', '32', '34', '15', '44', '65', '31', '33', '35',
       '47', '13', '14', '1', '9', '5', '18', '36', '24', '68', '43', '8',
       '64', '10', '55', '3', '49', '51', '2', '19', '56', '7', '6', '4',
       '48', '66', '25', '23', '28', '39', '54', '60', '27', '20', '46',
       '12', '21', '62', '52', '41', '50', '30', '16', '37', '40', '26',
       '67', '57', '61', '42', '45', '38', '29', '58', '63', '22', '59',
       '53', '17'], dtype=object)

In [7]:
exo.columns.values

array(['Datetime', 'id_15min', 'id_30min', 'id_60min', 'h0', 'h1', 'h2',
       'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9', 'h10', 'h11', 'h12',
       'h13', 'h14', 'h15', 'h16', 'h17', 'h18', 'h19', 'h20', 'h21',
       'h22', 'h23', 'qh0', 'qh1', 'qh2', 'qh3', 'dh0', 'dh1', 'Day_type',
       'DIJFP', 'JMHV', 'JOVS', 'LHV', 'MHV', 'SAHV', 'SAVS', 'VHV',
       'Timestamp/sec', 'Timestamp/min', 'unix_time', 'Day_id', 'Day_fr',
       'Day_en', 'Dimanche', 'Jeudi', 'Lundi', 'Mardi', 'Mercredi',
       'Samedi', 'Vendredi', 'ymd', 'Vacances', 'Pont', 'Ferie', 'Mois',
       'April', 'August', 'December', 'February', 'January', 'July',
       'June', 'March', 'May', 'November', 'October', 'September', 'hms',
       'hmsnum', '0.0', '0.25', '0.5', '0.75', '1.0', '1.25', '1.5',
       '1.75', '2.0', '2.25', '2.5', '2.75', '3.0', '3.25', '3.5', '3.75',
       '4.0', '4.25', '4.5', '4.75', '5.0', '5.25', '5.5', '5.75', '6.0',
       '6.25', '6.5', '6.75', '7.0', '7.25', '7.5', '7.75', '8.0', '8.25',
       '8.5', '8.75', '9.0', '9.25', '9.5', '9.75', '10.0', '10.25',
       '10.5', '10.75', '11.0', '11.25', '11.5', '11.75', '12.0', '12.25',
       '12.5', '12.75', '13.0', '13.25', '13.5', '13.75', '14.0', '14.25',
       '14.5', '14.75', '15.0', '15.25', '15.5', '15.75', '16.0', '16.25',
       '16.5', '16.75', '17.0', '17.25', '17.5', '17.75', '18.0', '18.25',
       '18.5', '18.75', '19.0', '19.25', '19.5', '19.75', '20.0', '20.25',
       '20.5', '20.75', '21.0', '21.25', '21.5', '21.75', '22.0', '22.25',
       '22.5', '22.75', '23.0', '23.25', '23.5', '23.75', 'Mois_id',
       'Day_type_id', 'Day_type_en', 'hms_int_15min', '24DEC', '31DEC',
       'day_off_quebec', 'renov_beaubien', 'vac_udem1', 'vac_udem2',
       'vac_noel_quebec'], dtype=object)

In [25]:
lt_ha_mtl_v1 = ['hms_int_15min', 'Day_id']
lt_ha_mtl_v2 = ['hms_int_15min', 'Day_id', 'Mois_id', 'vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC']
lt_ha_mtl_v3 = ['hms_int_15min', 'Day_id', 'Mois_id', 'vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC',
                'renov_beaubien', 'vac_udem1', 'vac_udem2']

In [24]:
lt_rf_mtl = [['hms_int_15min', 'Day_id'],
             ['hms_int_15min', 'Day_id', 'Mois_id', 'vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC'],
             ['hms_int_15min', 'Day_id', 'Mois_id', 'vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC',
              'renov_beaubien'],
             ['hms_int_15min', 'Day_id', 'Mois_id', 'vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC',
                'renov_beaubien', 'vac_udem1', 'vac_udem2']]