In [94]:
import sys
sys.path.insert(0, '../')
from forecast_model import Forecast_model

import pandas as pd
import numpy as np
import copy
from tqdm import tqdm
from scipy import spatial
try:
    import cPickle as pickle
except:
    import pickle
    
import sys
sys.path.insert(0, '../../utils/')
from utils import *
from utils_date import *

class Ha_inverted_model(Forecast_model):

    def __init__(self, name: str):
        Forecast_model.__init__(self, name)
        self.infos['start_date'] = ''
        self.infos['end_date'] = ''
        self.infos['features'] = []
        self.infos['features_day'] = []
        self.infos['time_series'] = []
        self.infos['observation_path'] = ''
        self.infos['context_path'] = ''


    def __str__(self):
        return "Description of model: %s\n" \
                "Start date learing: %s\n" \
                "End date learing: %s\n" \
                "Features: %s\n" \
                "Features day: %s\n"\
                "Learned time series: %s\n" \
                "Training observation path: %s\n" \
                "Training context data path: %s" % (self.infos['name'],
                                                   self.infos['start_date'],
                                                   self.infos['end_date'],
                                                   self.infos['features'],
                                                   self.infos['features_day'],
                                                   self.infos['time_series'],
                                                   self.infos['observation_path'],
                                                   self.infos['context_path'])

    def fit(self, X, ylist):

        dict_pred_mean = {}
        dict_pred_median = {}
        for ix, ts in enumerate(tqdm(self.infos['time_series'])):
            data = np.concatenate([X, ylist[ix]], axis=1)
            dfXy = pd.DataFrame(data = data, columns = np.arange(data.shape[1]).astype(str))
            df_mean = dfXy.groupby(dfXy.columns.values[:X.shape[1]].tolist()).mean()
            df_median = dfXy.groupby(dfXy.columns.values[:X.shape[1]].tolist()).median()

            for f in df_mean.index.values:
                try:
                    dict_pred_mean[tuple(f)][ts] = df_mean.loc[f].values.astype(float)
                    dict_pred_median[tuple(f)][ts] = df_median.loc[f].values.astype(float)
                except:
                    dict_pred_mean[tuple(f)]={}
                    dict_pred_mean[tuple(f)][ts] = df_mean.loc[f].values.astype(float)
                    dict_pred_median[tuple(f)]={}
                    dict_pred_median[tuple(f)][ts] = df_median.loc[f].values.astype(float)
        self.infos['dict_pred_mean'] = dict_pred_mean
        self.infos['dict_pred_median'] = dict_pred_median
        return 


    def predict(self, X, choice='mean'):
        if choice=='mean':
            dict_pred = self.infos['dict_pred_mean']
        else:
            dict_pred = self.infos['dict_pred_median']
            
        possibles_day = [i for i in list(set(dict_pred.keys()))]
        pred_all = []
        for x in tqdm(X):
            pred = []
            try:
                for ts in self.infos['time_series']:
                    pred.append(dict_pred[tuple(x)][ts])
            except: 
                npd = nearest_tuple(possibles_day, tuple(x))
                for ts in self.infos['time_series']:
                    pred.append(dict_pred[npd][ts]) 
            pred_all.append(pred)
        return np.array(pred_all)

In [100]:
observation_path = ['/home/toque/data2/montreal/stm/data/valid_metro_15min_2015_2016_2017_sumpass_nodayfree.csv']
context_path =  ['/home/toque/data2/date/2013-01-01-2019-01-01_new.csv',
                '/home/toque/data2/montreal/events/data/clean/events_2015_2018_start_period_event_stopid_aggdaily.csv']
path_to_save = '/home/toque/data2/forecast/model/ha_inverted/fit/'



features = ['Day_id', 'Mois_id','vac_noel_quebec', 'day_off_quebec', '24DEC', '31DEC', 'renov_beaubien', 'vac_udem1',
            'vac_udem2', ]

features_day = ['5-start_period_event', '11-start_period_event', 
                    '12-start_period_event', '13-start_period_event',
                    '15-start_period_event', '16-start_period_event',
                    '23-start_period_event', '24-start_period_event',
                    '31-start_period_event', '32-start_period_event',
                    '35-start_period_event', '43-start_period_event',
                    '45-start_period_event', '61-start_period_event', '68-start_period_event']
features_day=[]
time_series = ['11', '32', '34', '15', '44', '65', '31', '33', '35', '47',
               '13', '14', '1', '9', '5', '18', '36', '24', '68', '43', '8', '64',
               '10', '55', '3', '49', '51', '2', '19', '56', '7', '6', '4', '48', '66',
               '25', '23', '28', '39', '54', '60', '27', '20', '46', '12', '21', '62',
               '52', '41', '50', '30', '16', '37', '40', '26', '67', '57', '61', '42',
               '45', '38', '29', '58', '63', '22', '59', '53', '17']

model_name = 'ha_inverted'

start_date = '2015-01-01'
end_date = '2017-01-01'




# fill datetime empty
df_observation = read_csv_list(observation_path)
days = sorted(list(set([i[:10] for i in df_observation['Datetime'].values])))
timestamp_list = [j for i in [build_timestamp_list(d+' 00:00:00', d+' 23:45:00', time_step_second=15*60) for d in days] for j in i]
df_date = pd.DataFrame(data = timestamp_list, columns = ['Datetime']).set_index('Datetime')
df_observation = df_date.join(df_observation.set_index('Datetime')).fillna(0).reset_index()

df_context = read_csv_list(context_path)




my_model = Ha_inverted_model(model_name)

my_model.infos['start_date'] = start_date
my_model.infos['end_date'] = end_date
my_model.infos['time_series'] = time_series
my_model.infos['features'] = features
my_model.infos['features_day'] = features_day
my_model.infos['observation_path'] = observation_path
my_model.infos['context_path'] = context_path
my_model.infos['path_to_save'] = path_to_save

dfXy = df_observation.set_index('Datetime')[start_date: end_date].join(df_context.set_index('Datetime')).reset_index()
X, ylist, features_end = build_Xylist(dfXy, features, features_day, time_series, start_date, end_date)

my_model.fit(X, ylist)

save_pickle(path_to_save+model_name+'/'+model_name+'.pkl', my_model)

100%|██████████| 68/68 [00:03<00:00, 19.57it/s]

In [104]:
model_path = '/home/toque/data2/forecast/model/ha_inverted/fit/ha_inverted/ha_inverted.pkl'
path_save_prediction = '/home/toque/data2/forecast/model/ha_inverted/prediction/'
my_model = load_pickle(model_path)

start_date = '2015-01-01'
end_date = '2018-01-01'

dfXy = df_observation.set_index('Datetime')[start_date: end_date].join(df_context.set_index('Datetime')).reset_index()
datetime_list = dfXy['Datetime'].values
X, features_end = build_X(dfXy, features, features_day, time_series, start_date, end_date)

pred_all = my_model.predict(X)

pred_all = np.swapaxes(pred_all,0,1)
pred_all = pred_all.reshape(len(time_series), pred_all.shape[1]*pred_all.shape[2])
df_pred = pd.DataFrame(data = datetime_list, columns=['Datetime'])
for ix,ts in enumerate(time_series):
    df_pred[ts] = pred_all[ix] 
    
df_pred = df_pred.round(3)

if not os.path.exists(path_save_prediction+my_model.infos['name']+"/"):
    os.makedirs(path_save_prediction+my_model.infos['name']+"/")
    
df_pred.to_csv(path_save_prediction + my_model.infos['name']+'/'+start_date+'_'+end_date + '.csv', index=False)

100%|██████████| 1093/1093 [00:00<00:00, 1409.43it/s]

In [103]:
df_pred.round(3)

,Datetime,11,32,34,15,44,65,31,33,35,...,42,45,38,29,58,63,22,59,53,17
0,2015-01-01 00:00:00,140.0,44.0,90.0,62.0,21.0,25.0,42.0,47.0,50.0,...,6.0,15.0,7.0,16.0,6.0,2.0,36.0,4.0,9.0,2.0
1,2015-01-01 00:15:00,216.0,31.0,108.0,36.0,28.0,38.0,41.0,53.0,40.0,...,15.0,111.0,12.0,53.0,17.0,7.0,67.0,2.0,20.0,11.0
2,2015-01-01 00:30:00,614.0,39.0,100.0,42.0,13.0,4.0,128.0,62.0,49.0,...,6.0,38.0,26.0,60.0,0.0,0.0,40.0,0.0,6.0,9.0
3,2015-01-01 00:45:00,278.0,21.0,54.0,17.0,23.0,2.0,173.0,45.0,21.0,...,1.0,30.0,1.0,23.0,0.0,0.0,7.0,0.0,0.0,6.0
4,2015-01-01 01:00:00,44.0,5.0,17.0,16.0,0.0,1.0,65.0,18.0,7.0,...,0.0,2.0,1.0,7.0,0.0,0.0,3.0,0.0,1.0,0.0
5,2015-01-01 01:15:00,3.0,0.0,0.0,3.0,0.0,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
6,2015-01-01 01:30:00,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2015-01-01 01:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2015-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2015-01-01 02:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2015-01-01 02:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2015-01-01 02:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2015-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2015-01-01 03:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2015-01-01 03:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2015-01-01 03:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2015-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2015-01-01 04:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2015-01-01 04:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2015-01-01 04:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2015-01-01 05:00:00,25.0,1.0,6.0,1.0,0.0,0.0,4.0,6.0,7.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2015-01-01 05:15:00,35.0,8.0,8.0,3.0,14.0,38.0,8.0,9.0,13.0,...,1.0,23.0,2.0,8.0,2.0,3.0,36.0,0.0,3.0,0.0
22,2015-01-01 05:30:00,68.0,10.0,40.0,12.0,12.0,18.0,31.0,16.0,17.0,...,8.0,17.0,4.0,13.0,1.0,10.0,39.0,1.0,0.0,1.0
23,2015-01-01 05:45:00,67.0,7.0,30.0,20.0,14.0,19.0,21.0,24.0,8.0,...,9.0,22.0,8.0,15.0,11.0,11.0,28.0,6.0,1.0,1.0
24,2015-01-01 06:00:00,67.0,10.0,28.0,19.0,41.0,28.0,16.0,11.0,29.0,...,2.0,15.0,5.0,13.0,4.0,7.0,31.0,2.0,1.0,2.0
25,2015-01-01 06:15:00,55.0,3.0,27.0,21.0,20.0,39.0,9.0,6.0,14.0,...,10.0,28.0,4.0,11.0,7.0,11.0,46.0,5.0,3.0,3.0
26,2015-01-01 06:30:00,48.0,5.0,31.0,23.0,17.0,25.0,17.0,15.0,7.0,...,7.0,5.0,6.0,18.0,0.0,9.0,26.0,7.0,5.0,1.0
27,2015-01-01 06:45:00,47.0,4.0,18.0,21.0,21.0,31.0,10.0,8.0,12.0,...,6.0,8.0,7.0,14.0,6.0,5.0,9.0,3.0,3.0,0.0
28,2015-01-01 07:00:00,48.0,4.0,22.0,15.0,27.0,42.0,21.0,9.0,28.0,...,6.0,12.0,10.0,12.0,2.0,14.0,8.0,4.0,1.0,2.0
29,2015-01-01 07:15:00,53.0,13.0,41.0,24.0,27.0,32.0,13.0,10.0,16.0,...,6.0,6.0,7.0,6.0,6.0,7.0,4.0,6.0,4.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104898,2017-12-31 16:30:00,270.0,594.0,265.0,155.0,140.0,141.0,216.0,338.0,297.0,...,35.0,53.0,31.0,57.0,18.0,36.0,24.0,46.0,6.0,28.0
104899,2017-12-31 16:45:00,245.0,768.0,245.0,136.0,135.0,146.0,186.0,464.0,338.0,...,32.0,22.0,37.0,49.0,21.0,12.0,15.0,25.0,13.0,28.0
104900,2017-12-31 17:00:00,275.0,1007.0,238.0,272.0,149.0,145.0,268.0,534.0,404.0,...,30.0,23.0,37.0,47.0,21.0,22.0,14.0,60.0,8.0,21.0
104901,2017-12-31 17:15:00,284.0,774.0,273.0,253.0,119.0,182.0,260.0,541.0,289.0,...,47.0,28.0,37.0,40.0,29.0,22.0,8.0,46.0,12.0,25.0
104902,2017-12-31 17:30:00,256.0,563.0,262.0,174.0,126.0,162.0,206.0,364.0,258.0,...,31.0,27.0,29.0,47.0,28.0,23.0,23.0,50.0,11.0,19.0
104903,2017-12-31 17:45:00,207.0,335.0,256.0,175.0,151.0,136.0,124.0,262.0,169.0,...,39.0,35.0,39.0,38.0,27.0,21.0,8.0,51.0,6.0,17.0
104904,2017-12-31 18:00:00,256.0,248.0,245.0,213.0,169.0,158.0,205.0,184.0,202.0,...,35.0,32.0,34.0,41.0,25.0,29.0,26.0,34.0,10.0,23.0
104905,2017-12-31 18:15:00,230.0,198.0,189.0,151.0,161.0,166.0,148.0,160.0,167.0,...,43.0,21.0,32.0,28.0,36.0,22.0,15.0,55.0,11.0,30.0
104906,2017-12-31 18:30:00,203.0,121.0,191.0,124.0,165.0,135.0,140.0,150.0,153.0,...,24.0,38.0,44.0,40.0,34.0,26.0,21.0,15.0,16.0,20.0
104907,2017-12-31 18:45:00,211.0,100.0,180.0,116.0,181.0,137.0,131.0,114.0,115.0,...,32.0,20.0,22.0,40.0,29.0,28.0,13.0,25.0,6.0,14.0
104908,2017-12-31 19:00:00,238.0,101.0,193.0,189.0,146.0,149.0,139.0,140.0,147.0,...,43.0,35.0,46.0,41.0,10.0,33.0,18.0,26.0,8.0,15.0
104909,2017-12-31 19:15:00,173.0,99.0,190.0,163.0,177.0,114.0,117.0,134.0,86.0,...,35.0,13.0,36.0,46.0,23.0,38.0,13.0,25.0,7.0,16.0
104910,2017-12-31 19:30:00,202.0,83.0,197.0,120.0,157.0,150.0,92.0,79.0,78.0,...,44.0,47.0,44.0,49.0,32.0,33.0,21.0,18.0,4.0,16.0
104911,2017-12-31 19:45:00,170.0,89.0,158.0,260.0,171.0,131.0,135.0,68.0,110.0,...,30.0,37.0,44.0,37.0,32.0,33.0,9.0,23.0,7.0,15.0
104912,2017-12-31 20:00:00,135.0,77.0,157.0,192.0,187.0,123.0,77.0,113.0,83.0,...,27.0,39.0,25.0,52.0,34.0,28.0,24.0,29.0,17.0,14.0
104913,2017-12-31 20:15:00,176.0,80.0,145.0,142.0,164.0,109.0,85.0,75.0,88.0,...,35.0,28.0,27.0,39.0,15.0,40.0,4.0,24.0,11.0,13.0
104914,2017-12-31 20:30:00,199.0,59.0,189.0,146.0,229.0,124.0,75.0,53.0,92.0,...,28.0,30.0,28.0,32.0,24.0,29.0,42.0,33.0,5.0,23.0
104915,2017-12-31 20:45:00,185.0,59.0,200.0,86.0,249.0,175.0,68.0,73.0,70.0,...,31.0,36.0,43.0,50.0,13.0,28.0,12.0,14.0,9.0,14.0
104916,2017-12-31 21:00:00,167.0,71.0,218.0,117.0,242.0,131.0,92.0,93.0,150.0,...,36.0,23.0,34.0,31.0,33.0,44.0,20.0,22.0,12.0,12.0
104917,2017-12-31 21:15:00,204.0,42.0,199.0,115.0,262.0,145.0,94.0,100.0,94.0,...,42.0,2.0,52.0,45.0,20.0,16.0,4.0,18.0,7.0,29.0
104918,2017-12-31 21:30:00,178.0,64.0,225.0,93.0,220.0,144.0,103.0,67.0,74.0,...,36.0,70.0,49.0,38.0,36.0,37.0,32.0,36.0,4.0,15.0
104919,2017-12-31 21:45:00,182.0,53.0,231.0,98.0,272.0,157.0,80.0,79.0,117.0,...,50.0,7.0,57.0,44.0,18.0,40.0,29.0,21.0,13.0,29.0
104920,2017-12-31 22:00:00,184.0,63.0,215.0,167.0,293.0,126.0,92.0,116.0,100.0,...,29.0,21.0,53.0,67.0,39.0,28.0,21.0,21.0,6.0,16.0
104921,2017-12-31 22:15:00,242.0,74.0,252.0,124.0,233.0,156.0,122.0,101.0,115.0,...,28.0,58.0,50.0,54.0,30.0,33.0,26.0,29.0,7.0,45.0
104922,2017-12-31 22:30:00,221.0,68.0,294.0,63.0,272.0,156.0,86.0,122.0,66.0,...,48.0,9.0,40.0,41.0,34.0,29.0,40.0,30.0,12.0,28.0
104923,2017-12-31 22:45:00,258.0,53.0,349.0,98.0,273.0,101.0,128.0,119.0,136.0,...,28.0,35.0,51.0,35.0,42.0,37.0,25.0,25.0,11.0,21.0
104924,2017-12-31 23:00:00,253.0,73.0,308.0,112.0,195.0,129.0,94.0,93.0,144.0,...,33.0,56.0,50.0,57.0,53.0,38.0,22.0,30.0,18.0,37.0
104925,2017-12-31 23:15:00,184.0,70.0,431.0,126.0,159.0,49.0,131.0,113.0,91.0,...,33.0,37.0,46.0,59.0,40.0,33.0,13.0,8.0,11.0,54.0
104926,2017-12-31 23:30:00,190.0,57.0,267.0,111.0,59.0,68.0,88.0,60.0,63.0,...,8.0,20.0,19.0,41.0,9.0,18.0,10.0,16.0,8.0,45.0
104927,2017-12-31 23:45:00,145.0,34.0,96.0,50.0,49.0,27.0,57.0,71.0,43.0,...,4.0,108.0,15.0,33.0,7.0,1.0,10.0,3.0,2.0,17.0

In [41]:
def build_Xylist(df, features, features_day, time_series, start_date, end_date):
    # Build ylist
    days = sorted(list(set([ i[:10] + ' 00:00:00' for i in df['Datetime'].values])))
    df_observation = copy.deepcopy(df[['Datetime']+time_series])
    df_observation['time'] = [d[11:] for d in df_observation['Datetime'].values]
    df_observation['Datetime'] = [d[:10]+ ' 00:00:00' for d in df_observation['Datetime'].values]
    df_observation = df_observation.pivot_table(values=time_series, index = 'Datetime', columns='time')
    ylist = np.array([df_observation[ts].values for ts in time_series])
    
    
    # Build X
    if len(features_day)>0:
        df_context_day = copy.deepcopy(df[['Datetime']+features_day])
        df_context_day['time'] = [d[11:] for d in df_context_day['Datetime'].values]
        df_context_day['Datetime'] = [d[:10]+ ' 00:00:00' for d in df_context_day['Datetime'].values]
        df_context_day = df_context_day.pivot_table(values=features_day, index = 'Datetime', columns='time')
        df_context_day.columns = df_context_day.columns.map('|'.join)
        dfX = df_context_day.join(df.set_index('Datetime')[features].loc[days])
    else:
        dfX = df.set_index('Datetime')[features].loc[days]
    features_end = dfX.columns.values.tolist()
    
    X = dfX.values
    return X, ylist, features_end


def build_X(df, features, features_day, time_series, start_date, end_date):
    # Build X    
    days = sorted(list(set([ i[:10] + ' 00:00:00' for i in df['Datetime'].values])))
    if len(features_day)>0:
        df_context_day = copy.deepcopy(df[['Datetime']+features_day])
        df_context_day['time'] = [d[11:] for d in df_context_day['Datetime'].values]
        df_context_day['Datetime'] = [d[:10]+ ' 00:00:00' for d in df_context_day['Datetime'].values]
        df_context_day = df_context_day.pivot_table(values=features_day, index = 'Datetime', columns='time')
        df_context_day.columns = df_context_day.columns.map('|'.join)
        days = df_context_day.index.values
        dfX = df_context_day.join(df.set_index('Datetime')[features].loc[days])
    else:
        dfX = df.set_index('Datetime')[features].loc[days]
    features_end = dfX.columns.values.tolist()

    X = dfX.values
    return X, features_end


def learn(X, ylist, features_end, time_series):
 
    dict_pred_mean = {}
    dict_pred_median = {}
    for ix, ts in enumerate(tqdm(time_series)):
        data = np.concatenate([X, ylist[ix]], axis=1)
        dfXy = pd.DataFrame(data = data , columns = features_end+np.arange(96).astype(str).tolist())
        df_mean = dfXy.groupby(features_end).mean()
        df_median = dfXy.groupby(features_end).median()

        for f in df_mean.index.values:
            try:
                dict_pred_mean[tuple(f)][ts] = df_mean.loc[f].values.astype(float)
                dict_pred_median[tuple(f)][ts] = df_median.loc[f].values.astype(float)
            except:
                dict_pred_mean[tuple(f)]={}
                dict_pred_mean[tuple(f)][ts] = df_mean.loc[f].values.astype(float)
                dict_pred_median[tuple(f)]={}
                dict_pred_median[tuple(f)][ts] = df_median.loc[f].values.astype(float)

    return dict_pred_mean, dict_pred_median


def forecast(X, dict_pred, time_series):
    possibles_day = [i for i in list(set(dict_pred.keys()))]
    pred_all = []
    for x in tqdm(X):
        pred = []
        try:
            for ts in time_series:
                pred.append(dict_pred[tuple(x)][ts])
        except: 
            npd = nearest_tuple(possibles_day, tuple(x))
            for ts in time_series:
                pred.append(dict_pred[npd][ts]) 
        pred_all.append(pred)
    return np.array(pred_all)

In [42]:
start_date = '2015-01-01'
end_date = '2017-01-01'
dfXy = df_observation.set_index('Datetime')[start_date: end_date].join(df_context.set_index('Datetime')).reset_index()
X, ylist, features_end = build_Xylist(dfXy, features, features_day, time_series, start_date, end_date)

dict_pred_mean, dict_pred_median = learn(X, ylist, features_end, time_series)



start_date = '2015-01-01'
end_date = '2018-01-01'
dfXy = df_observation.set_index('Datetime')[start_date: end_date].join(df_context.set_index('Datetime')).reset_index()
datetime_list = dfXy['Datetime'].values
X, features_end = build_X(dfXy, features, features_day, time_series, start_date, end_date)

pred_all = forecast(X, dict_pred_mean, time_series)

pred_all = np.swapaxes(pred_all,0,1)
pred_all = pred_all.reshape(len(time_series), pred_all.shape[1]*pred_all.shape[2])
df_pred = pd.DataFrame(data = datetime_list, columns=['Datetime'])
for ix,ts in enumerate(time_series):
    df_pred[ts] = pred_all[ix] 
    
df_pred.to_csv("/home/toque/data2/forecast/model/ha_inverted/prediction/model_event_tmp2/2015-01-01_2017-01-01",index=False)

100%|██████████| 68/68 [00:13<00:00,  5.13it/s]
100%|██████████| 1093/1093 [00:02<00:00, 394.32it/s]

In [78]:
my_model = Ha_model('my_ha_model')

In [79]:
print(my_model)

Description of model: my_ha_model
Learning start date:
Learning end date:
Features:
Learned time series:
Training data path:
Training exogenous data (date) path:

In [25]:
df_sta_info_path = "../../../../data2/montreal/stm/data/station_info.csv"
df_i = pd.read_csv(df_sta_info_path)
print(df_i['stop_id'].values.astype('str').tolist())

['11', '32', '34', '15', '44', '65', '31', '33', '35', '47', '13', '14', '1', '9', '5', '18', '36', '24', '68', '43', '8', '64', '10', '55', '3', '49', '51', '2', '19', '56', '7', '6', '4', '48', '66', '25', '23', '28', '39', '54', '60', '27', '20', '46', '12', '21', '62', '52', '41', '50', '30', '16', '37', '40', '26', '67', '57', '61', '42', '45', '38', '29', '58', '63', '22', '59', '53', '17']

In [80]:
df_observation_path = '/home/toque/data2/montreal/stm/data/valid_metro_15min_2015_2016_2017_sumpass.csv'
df_date_path = '/home/toque/data/data_clean/date/2013-01-01-2019-01-01_new.csv'
start_date = '2015-01-01'
end_date = '2017-01-01'
features = ["hms_int_15min","Day_id"]
time_series = ['11', '32', '34', '15', '44', '65', '31', '33', '35', '47', '13', '14',
               '1', '9', '5', '18', '36', '24', '68', '43', '8', '64', '10', '55', '3',
               '49', '51', '2', '19', '56', '7', '6', '4', '48', '66', '25', '23', '28',
               '39', '54', '60', '27', '20', '46', '12', '21', '62', '52', '41', '50', '30',
               '16', '37', '40', '26', '67', '57', '61', '42', '45', '38', '29', '58', '63',
               '22', '59', '53', '17']

In [81]:
my_model.learn(df_observation_path, df_date_path, start_date, end_date, features, time_series)

Read data: observation and date

100%|██████████| 608/608 [00:00<00:00, 218408.43it/s]
100%|██████████| 608/608 [00:00<00:00, 219008.66it/s]

Progress Bar 1/2 : learning mean
Progress Bar 2/2 : learning median
End of Learning

In [113]:
import yaml
import argparse

import os
import sys
sys.path.insert(0, '../utils/')
from utils import *

"""
    Load configuration of the model from yaml file
"""

#parser = argparse.ArgumentParser(description='Process some integers.')
#parser.add_argument('--config', type=str, help='Yaml file containing the configuration of the model')
#config_file = parser.parse_args(['--config'])

config_file = 'config.yaml'
with open(config_file, 'r') as stream:
    try:
        config = yaml.load(stream)
    except yaml.YAMLError as exc:
        print(exc)
        
        
df_observation_path = config['df_observation_path']
df_date_path = config['df_date_path']
features = config['features']
stations = config['stations']
model_name = config['model_name']
start_date = config['start_date']
end_date = config['end_date']
path_to_save = config['path_to_save']
path_directory_to_save = path_to_save + model_name + '/'


print("You are going to create the model: %s", % (model_name))

create_model = True
if os.path.exists(path_directory_to_save):
    create_model = yes_or_no("WARNING !!!!!!!\nThe model %s saved in path: %s already exists.\nDo you want to erase and replace it?")

if create_model:
    my_model = Ha_model(model_name)
    print("Creation of the model done")

    print("Learning the model..")
    my_model.fit(df_valid_path, df_date_path, start_date, end_date, features, time_series)
    print("Learning done")

    print("Saving models..")
    my_model.save(path_directory_to_save, os.getcwd()+"/"+config_file)
    print("Saving models done")

AttributeError: 'dict' object has no attribute 'df_date_path'

In [115]:
def yes_or_no(question):
    while "The answer is invalid":
        reply = str(input(question+' (y/n): ')).lower().strip()
        if reply[:1] == 'y':
            return True
        if reply[:1] == 'n':
            return False

In [130]:

if yes_or_no("Do you want to continue"):
    print(' ok')
else:
    sys.exit()

print('10')

Do you want to continue (y/n): n

SystemExit:

/opt/conda/envs/py35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2870: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [124]:
test()

do you want to continue (y/n): yn
 ok
10

In [133]:
import os
dir_path = os.getcwd()

In [134]:
dir_path

'/home/toque/work/forecast/model/ha'

In [1]:
import pandas as pd

In [3]:
obs = pd.read_csv('/home/toque/data2/montreal/stm/data/valid_metro_15min_2015_2016_2017_sumpass.csv')
exo = pd.read_csv('/home/toque/data2/date/2013-01-01-2019-01-01_new.csv')

In [29]:
import numpy as np

In [40]:
b = obs.head(3)
b = b.set_index("Datetime")
d = np.around((b.values/3*np.random.rand()), 2)
b[:] = d
b.reset_index()

,Datetime,11,32,34,15,44,65,31,33,35,...,42,45,38,29,58,63,22,59,53,17
0,2015-01-01 00:00:00,19.15,6.02,12.31,8.48,2.87,3.42,5.74,6.43,6.84,...,0.82,2.05,0.96,2.19,0.82,0.27,4.92,0.55,1.23,0.27
1,2015-01-01 00:15:00,29.54,4.24,14.77,4.92,3.83,5.20,5.61,7.25,5.47,...,2.05,15.18,1.64,7.25,2.32,0.96,9.16,0.27,2.74,1.50
2,2015-01-01 00:30:00,83.97,5.33,13.68,5.74,1.78,0.55,17.51,8.48,6.70,...,0.82,5.20,3.56,8.21,0.00,0.00,5.47,0.00,0.82,1.23

In [47]:
for i in np.arange(1):
    print('hello')

hello

In [19]:
a = exo.head(3)[['Datetime','Day_id','hms_int_15min','Vacances','Ferie','Mois_id']]

In [21]:
a.columns=['Datetime','day_id','timestep_id','school_holiday','holiday','month_id']

In [23]:
a[['Datetime', 'month_id', 'day_id', 'timestep_id', 'school_holiday', 'holiday' ]]

              Datetime  month_id  day_id  timestep_id  school_holiday  holiday
0  2013-01-01 00:00:00         1       1            0               1        1
1  2013-01-01 00:15:00         1       1            1               1        1
2  2013-01-01 00:30:00         1       1            2               1        1

In [48]:
a

              Datetime  day_id  timestep_id  school_holiday  holiday  month_id
0  2013-01-01 00:00:00       1            0               1        1         1
1  2013-01-01 00:15:00       1            1               1        1         1
2  2013-01-01 00:30:00       1            2               1        1         1

In [50]:
a = a.set_index('Datetime')

In [52]:
a.join([])

                     day_id  timestep_id  school_holiday  holiday  month_id
Datetime
2013-01-01 00:00:00       1            0               1        1         1
2013-01-01 00:15:00       1            1               1        1         1
2013-01-01 00:30:00       1            2               1        1         1