In [39]:
start_date = "2017-01-01 00:00:00"
end_date = "2017-07-01 00:00:00"
time_step_second = 3600

In [49]:
import numpy as np
import pandas as pd
import datetime as libdt
from tqdm import tqdm
import argparse
import sys
sys.path.insert(0, '../../utils/')
from utils_calendar import *
sys.path.insert(0, '../../utils/')
from utils_date import *



file_school_holidays = open("../../data/school_holidays_france_zoneC_2007_2018_included.csv", "r")
school_holidays_dt = [(string_to_datetime(i.split(";")[0], hms=False),
                       string_to_datetime(i.split(";")[1], hms=False)) for i in file_school_holidays.read().splitlines()]
file_holidays = open("../../data/holidays_france_2008_2019_included.csv", "r")
holidays_dt = [string_to_datetime(i, hms=False) for i in file_holidays.read().splitlines()]
extra_day_off_dt = get_extra_day_off(holidays_dt, school_holidays_dt)


print("Step 1/2 : Create date features approx 20sec per year")


timestamp_list = build_timestamp_list(start_date, end_date, time_step_second=time_step_second)
df_date = pd.DataFrame(data=timestamp_list, columns=["Datetime"], dtype=str)


df_date["Day_id"] = [string_to_datetime(i).weekday() for i in df_date["Datetime"].values]
df_date["Day_fr"] = [get_day_string(i) for i in df_date["Day_id"].tolist()]
df_date["Day_en"] = [get_day_string(i, fr=False) for i in df_date["Day_id"].tolist()]
df_date = pd.concat([df_date, pd.get_dummies(df_date['Day_en'])], axis=1)


df_date["School_holidays_france_zoneC"] = \
    [int(is_school_holidays(school_holidays_dt, string_to_datetime(i))) for i in tqdm(df_date["Datetime"].values)]
df_date["Extra_day_off_france"] = \
    [int(is_extra_day_off(extra_day_off_dt, string_to_datetime(i))) for i in tqdm(df_date["Datetime"].values)]
df_date["Holidays_france"] = \
    [int(is_holidays(holidays_dt, string_to_datetime(i))) for i in tqdm(df_date["Datetime"].values)]

 79%|███████▉  | 3429/4345 [00:00<00:00, 34285.21it/s]

Step 1/2 : Create date features approx 20sec per year

100%|██████████| 4345/4345 [00:00<00:00, 26469.54it/s]
100%|██████████| 4345/4345 [00:00<00:00, 68406.78it/s]
100%|██████████| 4345/4345 [00:00<00:00, 37880.07it/s]

In [50]:
df_date[['Datetime', 'Holidays_france']].set_index('Datetime')['2017-05-08 00:00:00':'2017-05-08 02:00:00']

                     Holidays_france
Datetime
2017-05-08 00:00:00                1
2017-05-08 01:00:00                1
2017-05-08 02:00:00                1

In [48]:
string_to_datetime('2017-05-08 00:00:00').date() == string_to_datetime('2017-05-08 01:00:00').date()

True

In [ ]:
df_date = pd.read_csv("../../data/date_file_2013_2018_included_test.csv")

In [15]:
df_date['hour_minute_second_numerical'].drop_duplicates()

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
Name: hour_minute_second_numerical, dtype: int64

In [13]:
df_date.columns.tolist()

['Datetime',
 'Day_id',
 'Day_fr',
 'Day_en',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'School_holidays_france_zoneC',
 'Extra_day_off_france',
 'Holidays_france',
 'Month_id',
 'Month_en',
 'April',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'hour_minute_second',
 'hour_minute_second_numerical',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 'Category2',
 'DIJFP_2',
 'JMHV_2',
 'JOVS_2',
 'LHV_2',
 'MHV_2',
 'SAHV_2',
 'SAVS_2',
 'VHV_2',
 'Day_category2_id',
 'Day_category2_en',
 'Category1',
 'DIJFP',
 'JOHV',
 'JOVS',
 'SAHV',
 'SAVS',
 'Day_category1_id',
 'Day_category1_en',
 '24_december',
 '31_december']